@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');

html, body {
  margin: 0;
  padding: 0;
  font-family: 'DM Serif Display', serif;
  //background: #ADE2C8;
}

* {
  margin: 0;
  padding: 0;
  max-width: 100%;
}

.container {
  width: 85vw;
  height: auto;
  margin: 0 auto;
}

#your-element-selector {
  width: 100vw;
  height:100vh;
  position: fixed;
  z-index: -999; /*order send to back*/
}
#myCanvas canvas {
  display: block;
  margin: auto;
  border-radius: 1100px;
  padding: 10px;
}

button {
  font-family: 'DM Serif Display',

cursive;
  font-weight: bold;
  font-size: medium;
  margin: auto;
  display: block;
  padding: 10px;
  color: black;
  background-color: #CCFFFF;
  border-radius: 30%;
  border-style: solid;
  width: 95px;
  height: 65px;
  outline: solid;
}

h1 {
  text-align: center;
}

h2{
  text-align: center;
}

p {
  text-align: center;
}

p.fn {
  font-family: 'DM Serif Display';
  color: grey;
}

div.info_box {
  padding-left: 30%;
  padding-right: 30%;
}
